{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>HttpClientApi - REPOSITORIES</h1>

    <ul>
        {% for repo in repos %}
        <li>Name: {{ repo.name }}</li>
        <li>Description:  {{ repo.description ? repo.description|slice(0.16)~'...' : 'No description for this one!' }} </li>
        <li><a href="{{ path('show', {id:repo.id}) }}">Details</a>||<a href="https://github.com/ismail1432/{{ repo.name }}">Visit code Github</a> </li>
            <br>
        {% endfor %}

    </ul>
</div>
{% endblock %}
